<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/sorces/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Hello world!</h1>
    <a id="change_page" href="/admins">попробуй зайти к админам</a>
    <a id="logout" href="/logout">покинуть нас</a>
    <script>
        const INACTIVITY_LIMIT = 3 * 60 * 1000;

        let inactivityTimer;

        function resetTimer() {
            clearTimeout(inactivityTimer);
            inactivityTimer = setTimeout(() => {
            window.location.href = "/";
            }, INACTIVITY_LIMIT);
        }

        window.onload = resetTimer;
        document.onmousemove = resetTimer;
        document.onkeypress = resetTimer;
        document.onclick = resetTimer;
        document.onscroll = resetTimer;
    </script>
</body>
</html>